<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Add Deduction for Line Item {{lineitem.number}}</h1>
</div>

{{#each successes}}
  <div class="alert alert-success" role="alert">
    {{this}}
  </div>
{{/each}}
{{#each errors}}
  <div class="alert alert-danger" role="alert">
    {{this}}
  </div>
{{/each}}

<form>
  <div class="form-group">
    <label for="amountInput">Deduction Amount</label>
    <input type="number" class="form-control" id="amountInput" aria-describedby="amountHelp">
    <small id="amountHelp" class="form-text text-muted">To add money to the line item, input a negative amount.</small>
  </div>
  <button type="submit" class="btn btn-primary" id="submit">Submit</button>
</form>

<script>
    function submit(e) {
        var deduction_amount_dom_element = document.getElementById('amountInput');
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: window.location.pathname,
            data: { amount: deduction_amount_dom_element.value },
            success: function() {
                window.location.reload();
            },
            failure: function() {
                window.location.reload();
            },
        });
    }

    var submit_dom_element = document.getElementById('submit');
    submit_dom_element.addEventListener('click', submit);

</script>