<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Import Budget</h1>
</div>
{{#each successes}}
  <div class="alert alert-success" role="alert">
    {{this}}
  </div>
{{/each}}
{{#each errors}}
  <div class="alert alert-danger" role="alert">
    {{this}}
  </div>
{{/each}}
<form>
  <div class="form-group">
    <label for="clubSelect">Club</label>
    <select class="form-control" id="clubSelect">
      {{#each clubs}}
        <option value={{ID}}>{{Name}}</option>
      {{/each}}
    </select>
  </div>
  <input type="file" name="xlfile" id="xlf">
  <button type="submit" class="btn btn-primary" id="submit">Submit</button>
</form>
<script lang="javascript" src="/js/xlsx.full.min.js"></script>
<script>
var year;
function handleFile(e) {
  var files = e.target.files, f = files[0];
  var reader = new FileReader();
  reader.onload = function(e) {
    var data = new Uint8Array(e.target.result);
    var workbook = XLSX.read(data, {type: 'array'});

    console.log(workbook);
    var first_sheet_name = workbook.SheetNames[0];
    var address_of_cell = 'A3';
    var worksheet = workbook.Sheets[first_sheet_name];
    var desired_cell = worksheet[address_of_cell];
    var fiscalyear = (desired_cell ? desired_cell.v : undefined);

    const regex = /\d+/;
    year = fiscalyear.match(regex)[0];
  };
  reader.readAsArrayBuffer(f);
}

function submit(e) {
  var club_select_dom_element = document.getElementById('clubSelect');
  e.preventDefault();
  let params="year="+year+"&clubid="+club_select_dom_element.value;
  var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHTTP");
  xhr.open('POST', '/import');
  xhr.onreadystatechange = function() {
      if (xhr.readyState > 3 && xhr.status == 200) { 
        window.location.reload();
      }
  };
  xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
  xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  xhr.send(params);
}

var input_dom_element = document.getElementById('xlf');
input_dom_element.addEventListener('change', handleFile, false);
var submit_dom_element = document.getElementById('submit');
submit_dom_element.addEventListener('click', submit);
</script>
